<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
     (click)="onClick()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="isClosedNav" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" (click)="onNavItemClick(0)">
          <a 
            class="nav-link" 
            (click)="currentPage = toolbar[0].label" 
            [ngClass]="getClasses(0)" 
            href="{{ toolbar[0].link }}"
          >
            {{ toolbar[0].label }}
          </a>
        </li>
        <li class="nav-item" (click)="onNavItemClick(1)">
          <a 
            class="nav-link" 
            (click)="currentPage = toolbar[1].label" 
            [ngClass]="getClasses(1)" 
            href="{{ toolbar[1].link }}"
          >
            {{ toolbar[1].label }}
          </a>
        </li>
        <li class="nav-item" (click)="onNavItemClick(2)">
          <a 
            class="nav-link" 
            (click)="currentPage = toolbar[2].label" 
            [ngClass]="getClasses(2)" 
            href="{{ toolbar[2].link }}"
          >
            {{ toolbar[2].label }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>